body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  section{
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
  
  }
  h1,h2,h3,h3,h4,h5{
    color: #212121;
  }
  p{
    list-style: 30px; 
  }
  span{
    display: block;
  }
  img{
    max-width: 100%;
    height: auto;
  
  }
  a{
    text-decoration: none !important;
  }
  li{
    list-style: none;
    a{
        text-decoration: none;
    }
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .gap__actions{
    display: grid;
    row-gap: 10px;
    cursor: pointer;
    }