.demandeee{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-controll{
    width: 100%;
    padding: 10px 0 ;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.containeerr{
    width: 650px;
    height:480px ;
    position: relative;
    margin: 0% auto;
    background: #fff;
    padding: 5px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}
.cancel-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,hsl(200, 8%, 93%),#d9d4df);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submiit-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,hsl(185, 77%, 68%),#afa2c0);
    border: 0;
    outline: none;
    border-radius: 30px;
}