/* *{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height:480px ;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}
.social-icons img{
    width:30px ;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0 ;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,hsl(185, 77%, 68%),#c9acef);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.cordone{
    padding: 10px 30px;
    margin: auto;
    font-size: small;
}
.cordone .aa{
    
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}


.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.register{
    height: 650px;
  max-width: 1200px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span{
  color: #adb5bd;
margin-bottom: 10%;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  /* margin: auto;
  padding: 3em 0;
  width: 480px; */
  width: 580px;
  height: 850px;

}

.register .col-2 img{
  width: 720px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}
.input-field{
    width: 100%;
    padding: 10px 0 ;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.form-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.register .aa{
    margin-top: 20cm;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,hsl(185, 77%, 68%),#c9acef);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.cancel-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,hsl(180, 100%, 100%),#a2a1a3);
    border: 0;
    outline: none;
    border-radius: 30px;
}

  